openapi: 3.0.3
info:
  title: Fountain Developer API (Hire API v2) Applicants Stages API
  description: The Fountain Developer API lets customers of the Fountain high-volume hiring platform programmatically manage their hiring data - applicants, openings (funnels), positions, stages, labels, secure documents, interview scheduling slots, webhooks, and post-hire workers. All requests are authenticated with an API token passed in the X-ACCESS-TOKEN request header.
  termsOfService: https://www.fountain.com/legal/terms-of-use
  contact:
    name: Fountain Support
    email: support@fountain.com
    url: https://developer.fountain.com/reference
  version: '2.0'
servers:
- url: https://api.fountain.com/v2
  description: Fountain Hire API v2
security:
- AccessToken: []
tags:
- name: Stages
  description: Retrieve stages and their available scheduling slots.
paths:
  /stages/{id}:
    parameters:
    - $ref: '#/components/parameters/StageId'
    get:
      operationId: getStage
      tags:
      - Stages
      summary: Retrieve stage
      responses:
        '200':
          description: The stage.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stage'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /stages/{id}/available-slots:
    parameters:
    - $ref: '#/components/parameters/StageId'
    get:
      operationId: listStageAvailableSlots
      tags:
      - Stages
      summary: List available slots
      responses:
        '200':
          description: Available scheduling slots for the stage.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlotList'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    StageId:
      name: id
      in: path
      required: true
      description: The stage ID.
      schema:
        type: string
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    SlotList:
      type: object
      properties:
        available_slots:
          type: array
          items:
            $ref: '#/components/schemas/Slot'
    Stage:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        type:
          type: string
        position:
          type: integer
    Slot:
      type: object
      properties:
        id:
          type: string
        stage_id:
          type: string
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        capacity:
          type: integer
        booked_count:
          type: integer
        location:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid X-ACCESS-TOKEN.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    AccessToken:
      type: apiKey
      in: header
      name: X-ACCESS-TOKEN
      description: Your Fountain API token. Request API access by emailing support@fountain.com; find your token in your Fountain account settings.
